SUPABASE_URL=https://yljtzzqbztuxjnztautv.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlsanR6enFienR1eGpuenRhdXR2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NjE2MzAyOSwiZXhwIjoyMTAxNzM5MDI5fQ.572JCWaGd_-wRpzkflt-QJzJR1Xx2WIu00P0VdFedf0
SUPABASE_JWT_SECRET=9b58e57f-86cd-4c04-a7b9-b453473417cf

